[submodule "Trabajo práctico I"]
	path = Trabajo práctico I
	url = https://github.com/valencorrea/7506R-2C2022-GRUPO14-TP1
[submodule "Trabajo práctico II"]
	path = Trabajo práctico II
	url = https://github.com/valencorrea/7506R-2C2022-GRUPO14-TP2
